/* Dashboard styling */

#DashTitle {
    color: black;
}

.bgdiv {
    background-image: url("https://images7.alphacoders.com/328/328730.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
}

.bestelbutton {
    float: right;
    margin-right: 8px;
    margin-top: 5px;
}

#ordercontent {
    height: 75%;
    margin-bottom: 3px;
    border-bottom: 1px dashed gray;
    overflow-y: scroll;
    overflow-x: hidden;
}

.orderstats {
    height: auto;
    display: flex;
    flex-direction: column;
}

.orderform {
    height: 500px;
    width: 60%;
}

.pizzacontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 105px;
    
    background-color: rgba(243, 244, 246, 255);
    border: rgba(229, 231, 235, 255) 2px solid;
    padding: 5px; 
    height: 100%;
}

.pizzaselect {
    overflow: hidden;
    background-color: rgb(235, 235, 235);
    border: rgba(128, 128, 128, 0.7) 1px solid;
    border-radius: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 120px;
}

.pizzaselect > p {
    text-align: center;
}

.imgcontainer {
    width: 100%;
    height: 75%;
}

.imgcontainer > img {
    height: auto;
    width: 100%;
}

.hoverdiv {
    cursor: pointer;
    overflow: hidden;
    height: 0%;
    width: auto; 
    text-align: center;
    display: none;
    border-bottom: gray 1px dashed;
}

.pizzasubtab {
    width: 100%;
    background-color: rgb(235, 235, 235);
    transition: background-color 0.2s ease-in;
}

.pizzasubtab:hover {
    background-color: rgba(184, 184, 184, 0.7);
}

.pizzaselect:hover .hoverdiv {
    display: flex;
    height: auto;
}

.pizzaselect:hover .plistname {
    display: none;
}

.pinfocontainer {
    height: 207px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.sizeselect {
    float: right;
    height: 90px;
}

#structname {
    width: 50px !important;
}

#pamount {
    height: 30px;
    width: 55px;
}

.addbtn {
    height: 34px;
    width: 115px;
    margin-top: 30px;
    margin-left: 113px;
}

#structcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.structitem {
    margin-right: 10px;
    margin-top: 5px;
}

.addsection {
    display: flex;
    flex-direction: row;
}

.addsection > p {
    height: 20px;
    width: 20px;
    margin-top: 40px;
    margin-left: 10px;
}

.itemdiv {
    overflow: hidden;
    background-color: rgb(206, 206, 206);
    border: 2px rgb(136, 136, 136) solid;
    min-height: 50px;
    padding: 5px;
    margin-bottom: 5px;
}

.nnmout {
    font-size: 15px !important;
}

.itemdiv > p {
    font-size: 10px;
}

.hiddeninp {
    display: none;
}

.orderhistory {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 550px;
}

.order {
    background-color: rgb(206, 206, 206);
    border: 2px rgb(136, 136, 136) solid;
    overflow: hidden;
    margin: 15px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    transition: background-color 0.3s ease;
    /*height: 92px; */
}

.order:hover  {
    background-color: rgb(157, 157, 157);
    cursor: pointer;
}

.order > h1 {
    font-size: 30px;
}

.rightordergroup, .middleordergroup, .leftordergroup {
    display: inline;
}

.rightordergroup {
    border-left: 2px rgb(136, 136, 136) dashed;
    padding-left: 10px;
    width: 15%;
    position: relative;
}

.rightordergroup > h1 {
    font-size: 15px;
}

.leftordergroup {
    border-right: 2px rgb(136, 136, 136) dashed;
    width: 3.5%;
}

.middleordergroup {
    width: 81.5%;
    overflow-x: hidden;
    overflow-y: auto;
}

.orderid {
    font-size: 18px;
}

.orderitemdiv {
    background-color: rgb(177, 177, 177) !important;
}

.statusdot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border: rgb(136, 136, 136) solid 2px; 
    margin-bottom: 13px;
    font-size: 20px;
}

.itemlist {
    margin-left: 10px;
    margin-right: 10px;
}

.destroyform {
    position: absolute;
    bottom: 0;
    right: 0;
}

.destroyform-dormant {
    display: none;
}

.expand {
    animation: dropdown;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    background-color: rgb(206, 206, 206) !important;
}

.collapse {
    animation: dropup;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes dropdown {
    0% {height: 92px;}
    100% {height: 350px;}
}

@keyframes dropup {
    0% {height: 350px;}
    100% {height: 92px;}
}