<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add
      name="StonksPizzaConnection"
      connectionString="Data Source=178.63.160.220,3306;Network Library=DBMSSOCN;Initial Catalog=stonkpizza;User ID=kms;Password=gJYRUWJTpOMDSTjE;"
      providerName="System.Data.SqlClient"
      />
  </connectionStrings>
</configuration>